.cp-page {
  --__cp-accent1-color: #fcc215;
  --__cp-accent2-color: #3fd9c9;
  --__cp-hp-text-color: #012426;

  --__cp-font-family-primary: "Quicksand", sans-serif;
  --__cp-font-family-secondary: "Acme", sans-serif;

  font-family: var(--__cp-font-family-primary);
}

/* Button classes */
.cp__btn--sm {
  padding: var(--__cp-font-sm);
  font-size: 0.875rem;
}

.cp__btn--accent-white {
  border-color: var(--__cp-white-color);
  background-color: var(--__cp-white-color);
  color: var(--__cp-hp-text-color);
}

.cp__btn--accent-white:hover,
.cp__btn--accent-white:focus {
  border-color: var(--__cp-hp-text-color);
}

.cp__btn--accent-hp-dark {
  border-color: var(--__cp-hp-text-color);
  background-color: var(--__cp-hp-text-color);
  color: var(--__cp-white-color);
}

.cp__btn--accent-hp-dark:hover,
.cp__btn--accent-hp-dark:focus {
  border-color: var(--__cp-hp-text-color);
  color: var(--__cp-hp-text-color);
}

/* Button classes END */

.cp-homepage {
  color: var(--__cp-hp-text-color);
}

.cp-homepage > * {
  box-sizing: border-box;
}

.cp-homepage h1,
.cp-homepage h2,
.cp-homepage h3 {
  font-family: var(--__cp-font-family-secondary);
  font-weight: 400;
}

.cp-homepage__grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* Main product section */
.cp-homepage__col-left {
  background-color: var(--__cp-accent1-color);
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 2rem;
  align-items: center;
}

.cp-homepage__col-left .cp-homepage__image-wrapper,
.cp-homepage__col-left .cp-homepage__content {
  max-width: 37.5rem;
  margin: 0 auto;
}

.cp-homepage__col-left .cp-homepage__image-wrapper {
  text-align: center;
}

.cp-homepage__col-left .cp-homepage__image {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.cp-homepage__col-left .cp-homepage__image img {
  max-width: 100%;
}

.cp-homepage__col-left .cp-homepage__image svg {
  color: var(--__cp-accent1-color);
  position: absolute;
  bottom: 6vh;
  right: 0;
  aspect-ratio: 1 / 1;
  width: 8vh;
}

.cp-homepage__col-left .cp-homepage__content h1 {
  font-size: 3.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
}

.cp-homepage__col-left .cp-homepage__content p {
  margin: 0.8rem 0;
  font-weight: 500;
  font-size: 0.875rem;
}

.cp-homepage__col-left .cp-homepage__actions-btn {
  margin-top: 4.375rem;
}

/* Slider section */
.cp-homepage__col-right {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.cp-homepage__slider {
  padding: 0 2rem 2rem;
}

.cp-homepage__home-slider {
  /* max-width: 32rem; */
  margin: 0 auto;
}

.cp-homepage__slider .splide__pagination {
  bottom: -1rem;
}

.cp-homepage__slider .splide__pagination__page {
  background-color: var(--__cp-hp-text-color);
}

.cp-homepage__slider .splide__pagination__page.is-active {
  background-color: var(--__cp-accent1-color);
}

.cp-homepage__slider-slide-image {
  width: 75%;
  /* max-width: 32rem; */
  max-height: 14rem;
  margin: 2rem auto 0;
  border-radius: var(--__cp-font);
  box-shadow: 0.25rem 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.cp-homepage__slider-slide-image img {
  max-width: 100%;
  height: auto;
}

.cp-homepage__slider-slide-content {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.cp-homepage__slider-slide-content h3 {
  font-size: var(--__cp-font);
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

.cp-homepage__slider-slide-content p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

/* Recent content section */

.cp-homepage__recent-content-wrapper {
  background-color: var(--__cp-accent2-color);
  padding: 2rem 2rem;
}

.cp-homepage__recent-content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 32rem;
  margin: 0 auto;
}

.cp-homepage__recent-content-wrapper h2 {
  margin-top: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--__cp-hp-text-color);
  letter-spacing: 1px;
}

.cp-homepage__recent-content-wrapper p {
  font-size: var(--__cp-font);
  margin: 0.5rem 0 0.5rem;
}

.cp-homepage__recent-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.cp-homepage__recent-status .cp-homepage__recent-icon {
  width: 13px;
  color: var(--__cp-accent1-color);
}

.cp-homepage__recent-status .cp-homepage__recent-text {
  font-size: 1.125rem;
  font-weight: 600;
}

@media screen and (min-width: 1025px) {
  .cp-homepage__grid {
    grid-template-columns: 0.65fr 0.35fr;
  }

  .cp-homepage__col-left {
    display: block;
  }

  .cp-homepage__col-left .cp-homepage__image svg {
    bottom: 6rem;
    right: -2rem;
    width: 98px;
  }

  .cp-homepage__col-right {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }

  .cp-homepage__slider .splide__pagination {
    bottom: -2rem;
  }
}

@media screen and (max-height: 760px) {
  .cp-homepage__col-left .cp-homepage__image img {
    height: 40vh;
  }

  .cp-homepage__col-left .cp-homepage__image svg {
    bottom: 10vh;
  }

  .cp-homepage__slider-slide-image {
    max-height: 10rem;
  }

  .cp-homepage__slider .splide__pagination {
    bottom: -1rem;
  }
}
